<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="../../wwwroot/css/styles.css"> <!-- Optional: Include a CSS file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="Index.html">Home</a>
            <a href="Order.html">Order Now</a>
            <a
                href="https://modison-auth-domain.auth.us-east-1.amazoncognito.com/login?client_id=50cr96cieb5opojbgbetrpdq5t&response_type=token&scope=openid+profile+email&redirect_uri=http://127.0.0.1:5500/static/Views/Home/Index.html">Sign
                In</a>
            <a
                href="https://modison-auth-domain.auth.us-east-1.amazoncognito.com/logout?client_id=50cr96cieb5opojbgbetrpdq5t&logout_uri=https://localhost:7122">Sign
                Out</a>
        </nav>
    </header>
    <p id="username"></p>

    <h2>Your Orders</h2>
    <table id="ordersTable">
        <tr>
            <th>Snack</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Order Status</th>
        </tr>
    </table>
    <p id="noOrders" style="display: none;">No orders placed yet.</p>

    <footer>&copy; 2025 Modison UK</footer>

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="../../wwwroot/js/auth-handler.js"></script>
    <script src="../../wwwroot/js/order-summary.js"></script>
</body>

</html>