<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../wwwroot/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="../../wwwroot/js/auth-handler.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="Index.html">Home</a>
            <a href="../Orders/Create.html">Order Now</a>
            <a
                href="https://modison-auth-domain.auth.us-east-1.amazoncognito.com/login?client_id=50cr96cieb5opojbgbetrpdq5t&response_type=token&scope=openid+profile+email&redirect_uri=https://d1p4pvkzpycf8v.cloudfront.net/Views/Home/Index.html">Sign
                In</a>
            <a
                href="https://modison-auth-domain.auth.us-east-1.amazoncognito.com/logout?client_id=50cr96cieb5opojbgbetrpdq5t&logout_uri=https://d1p4pvkzpycf8v.cloudfront.net/Views/Home/Index.html">Sign
                Out</a>
        </nav>
    </header>

    <p id="username"></p>
    <main>
        <h1>Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </main>

    <footer>&copy; 2025 Modison UK</footer>

</body>

</html>